
# Project
generate_pkg.sh
/dist
/build
*.egg-info/
*.egg
__pycache__
coverage_run.sh

# project_env
Pipfile
Pipfile.lock
.env

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
coverage.xml
*.cover

# vscode
.history
.vscode
